div#redred{
    padding-top: 30px;
    padding-bottom: 50px;
    color: red;
    font-size: 40px;
    text-align: center;
    text-indent: 2em;
    background-color: cornflowerblue;
    border: 5px solid;
    border-radius: 20px;
    border-color: darkturquoise;
    background-image:url(../assets/img/cu.jpg) ;
}
*{
    letter-spacing: 0.8px;
    line-height: 1.5em;
}
.bg-primary{
    background-color: rgb(103, 206, 172)!important;
    background-image: url(../assets/img/bg.jpeg);
}
body{   
 font-family:sans-serif;
}

h1,h2,h3,h4,h5,h6{
    font-family:"Noto Serif TC",sans-serif;
}

p.redred{
    color: blue;
    font-size: 40px;
    text-align: center;
}

.bulebule{
    color:blue;
    font-size:  30px;
}
.expedu_icon{
    color:blue;
}
.expedu_icon:hover{
    background-color: blue;
    color:white;
}
table.table{
    align-items: center;
    width:80%;
    border-collapse: separate;
    margin-left: 3em;
}
.tables{
    border:5px solid black;
    border-radius: 30px;
    padding: 10px;
}
.titlehello{
    font-family:"Noto Serif TC",sans-serif;
    font-size: 20px;
    color:rgb(182, 48, 153)
}